@model IEnumerable<ERPBO.Production.ViewModels.QCItemStockInfoViewModel>
@{
    Layout = null;
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;

}

<table class="table table-bordered table-striped table-sm table-responsive-lg">
    <thead class="btn-dark">
        <tr class="text-center text-sm text-bold">
            <td>#SL</td>
            <td>Floor No</td>
            <td>QC No</td>
            <td>Model Name</td>
            <td>Warehouse Name</td>
            <td>ItemType Name</td>
            <td>Item Name</td>
            <td>Quantity</td>
            <td>Repair Transfer Qty.</td>
            <td>Packaging Transfer Qty.</td>
            <td>Lab Transfer Qty.</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center text-bold">@sl</td>
                <td>@item.ProductionFloorName</td>
                <td>@item.QCName</td>
                <td>@item.ModelName</td>
                <td>@item.WarehouseName</td>
                <td>@item.ItemTypeName</td>
                <td>@item.ItemName</td>
                <td class="text-center text-bold">@item.Quantity</td>
                <td class="text-center text-bold">@item.RepairQty</td>
                <td class="text-center text-bold">@item.PackagingQty</td>
                <td class="text-center text-bold">@item.LabQty</td>
            </tr>
        }
        @if(Model.Count() == 0)
        {
            <tr class="text-center text-bold">
                <td colspan="11">No data found in the table</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pagination", pagerData)
