
@{
    //var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    ViewBag.Title = "Production Assemble Item Stock & Receive QC Items";
}
<div class="row">
    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-paStock-tab" data-toggle="pill" href="#custom-tabs-three-paStock" role="tab" aria-controls="custom-tabs-three-paStock" aria-selected="true">Production Item Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-qcPass" role="tab" aria-controls="custom-tabs-three-qcPass" aria-selected="false">QC Pass List</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            @Html.AntiForgeryToken()
            <div class="tab-content" id="custom-tabs-three-tabContent">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-three-paStock" role="tabpanel" aria-labelledby="custom-tabs-three-paStock-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">Production Assemble Item Stock</h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="ddlProductionFloor" class="control-label font-weight-bold">Floor</label>
                                                @Html.DropDownList("ddlProductionFloor", (IEnumerable<SelectListItem>)ViewBag.ddlLineNumber, "--Select Line--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlModelName" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelName", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlWarehouse" class="control-label font-weight-bold">Warehouse</label>
                                                @Html.DropDownList("ddlWarehouse", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouse, "--Select Line--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlItemType" class="control-label font-weight-bold">ItemType Name</label>
                                                <select id="ddlItemType" class="form-control form-control-sm">
                                                    <option value="">--Select Item Type--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="ddlItem" class="control-label font-weight-bold">Item Name</label>
                                                <select id="ddlItem" class="form-control form-control-sm ctrl-change">
                                                    <option value="">--Select Item--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label font-weight-bold">Stock Qty (Less / Equal)</label>
                                                <input type="number" id="txtLessOrEq" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12" id="dataContainer1">
                                                @{Html.RenderAction("GetProductionAssembleItemStockInfo", new { @flag = "View" });}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-three-qcPass" role="tabpanel" aria-labelledby="custom-tabs-three-qcPass-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">QC Pass List</h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy text-sm">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body">

                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="ddlLineNumber2" class="control-label font-weight-bold">Floor</label>
                                                @Html.DropDownList("ddlLineNumber2", (IEnumerable<SelectListItem>)ViewBag.ddlLineNumber, "--Select Line--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlModelName2" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelName2", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlQCLine2" class="control-label font-weight-bold">QC Line</label>
                                                <select id="ddlQCLine2" class="form-control form-control-sm">
                                                    <option value="0">--Select QC Line--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlWarehouse2" class="control-label font-weight-bold">Warehouse Name</label>
                                                @Html.DropDownList("ddlWarehouse2", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouse, "--Select Warehouse--", new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-md-3">
                                                <label for="ddlItemType" class="control-label font-weight-bold">ItemType Name</label>
                                                <select id="ddlItemType" class="form-control form-control-sm">
                                                    <option value="">--Select Item Type--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlItem" class="control-label font-weight-bold">Item Name</label>
                                                <select id="ddlItem" class="form-control form-control-sm ctrl-change">
                                                    <option value="">--Select Item--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label font-weight-bold">Stock Qty (Less then / Equal)</label>
                                                <input type="number" id="txtLessOrEq" class="form-control form-control-sm" />
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12" id="dataContainer2">
                                                @{Html.RenderAction("GetQCPassList", new { @flag = "View" });}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQCPass" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-secondary">
                <input type="hidden" id="hdfQCPassId" />
                <h4 id="modalHeading" class="modal-title">QC Pass Qty</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id=" frmQCPass">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sm table-bordered text-bold text-sm" id="tblQcPass">
                                <tbody>
                                    <tr>
                                        <td class="alert-secondary" style="width:20%">From</td>
                                        <td style="width:30%; background-color:#e1dada"></td>
                                        <td class="alert-secondary" style="width:20%">To</td>
                                        <td style="width:35%; background-color:#e1dada"></td>
                                    </tr>
                                    <tr>
                                        <td class="alert-secondary" style="width:20%">Model</td>
                                        <td style="width:30%; background-color:#e1dada"></td>
                                        <td class="alert-secondary" style="width:20%">Qty</td>
                                        <td style="width:35%; background-color:#e1dada">
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-danger btn-sm btn-flat" data-dismiss="modal">
                    Cancel <i>X</i>
                </button>*@
                <button class="btn btn-success btn-sm btn-flat" id="btnSubmitQCPass">
                    Receive <i class="fas fa-download"></i>
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var ddlProductionFloor = $("#ddlProductionFloor");
        var ddlModelName = $("#ddlModelName");
        var ddlWarehouse = $("#ddlWarehouse");
        var ddlItemType = $("#ddlItemType");
        var ddlItem = $("#ddlItem");
        var txtLessOrEq = $("#txtLessOrEq");
       
        var pageNo = 1;

        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })

        ddlProductionFloor.change(function () {
            LoadDataTable();
        })

        ddlModelName.change(function () {
            LoadDataTable();
        })

        ddlWarehouse.change(function () {
            clearDropdown("ddlItemType");
            clearDropdown("ddlItem");
            if (ddlWarehouse.val() != "") {
                LoadDropDown('/Common/GetItemTypeForDDL', 'POST', ddlItemType, JSON.stringify({ warehouseId: ddlWarehouse.val() }));
            }
            LoadDataTable();
        })

        ddlItemType.change(function () {
            clearDropdown("ddlItem");
            if (ddlItemType.val() != "") {
                LoadDropDown('/Common/GetItemForDDL', 'POST', ddlItem, JSON.stringify({ itemTypeId: ddlItemType.val() }));
            }
            LoadDataTable();
        })

        txtLessOrEq.keyup(function () {
            LoadDataTable();
        })

        ddlItem.change(function () {
            LoadDataTable();
        })

        function LoadDataTable()
        {
            var data = { flag: "search", floorId: ddlProductionFloor.val(), modelId: ddlModelName.val(), warehouseId: TryParseInt(ddlWarehouse.val(), 0), itemTypeId: TryParseInt(ddlItemType.val(), 0), itemId: TryParseInt(ddlItem.val(), 0), lessOrEq: txtLessOrEq.val()};

            $.when(getReqWithData('html', 'GET', '/Production/GetProductionAssembleItemStockInfo', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });
            pageNo = 1;
        }

        var ddlLineNumber2 = $("#ddlLineNumber2");
        var ddlModelName2 = $("#ddlModelName2");
        var ddlQCLine2 = $("#ddlQCLine2");
        var ddlWarehouse2 = $("#ddlWarehouse2");
        var hdfQCPassId = $("#hdfQCPassId");

        ddlLineNumber2.change(function () {
            clearDropdown("ddlQCLine2");
            if (ddlLineNumber2.val() != "") {
                LoadDropDown('/Common/GetQCByLine', 'POST', ddlQCLine2, JSON.stringify({ lineId: ddlLineNumber2.val() }));
            }
            LoadDataTable2();
        })

        ddlModelName2.change(function () {
            LoadDataTable2();
        })

        ddlQCLine2.change(function () {
            LoadDataTable2();
        })

        ddlWarehouse2.change(function () {
            LoadDataTable2();
        })

        function LoadDataTable2() {

            var data = { flag: "search", floorId: TryParseInt(ddlLineNumber2.val(), 0), qcId: TryParseInt(ddlQCLine2.val(), 0), modelId: TryParseInt(ddlModelName2.val(), 0), warehouseId: TryParseInt(ddlWarehouse2.val(), 0) };

            $.when(getReqWithData('html', 'GET', '/Production/GetQCPassList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer2").fadeOut('500', function () {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });
        }

        $(document).on('click', 'a.data-item-receive', function (e) {
            e.preventDefault();
            hdfQCPassId.val('0');
            var id = $(this).attr('data-item-val');
            $("#modalQCPass").modal("show");
            hdfQCPassId.val(id);

            var row = $(this).parent().parents('tr');            

            var tblQcPass = $('#tblQcPass tbody');
            var qcPassRows = tblQcPass.children('tr');
            

            var qcPassRow1 = qcPassRows.eq('0');
            console.log(qcPassRow1);
            var row1Cell2 = qcPassRow1.children('td').eq(1).html(row.children('td').eq(2).html());
            var row1Cell4 = qcPassRow1.children('td').eq(3).html(row.children('td').eq(3).html());

            var qcPassRow2 = qcPassRows.eq('1');
            var row2Cell2 = qcPassRow2.children('td').eq(1).html(row.children('td').eq(4).html());
            var row2Cell2 = qcPassRow2.children('td').eq(3).html(row.children('td').eq(8).html());
        })

        $("#btnSubmitQCPass").click(function (e) {
            e.preventDefault();
            if (TryParseInt(hdfQCPassId.val(), 0) > 0) {
                bootbox.confirm("Are you sure you want to sure Receive this QC Pass Items", function (result) {
                    if (result) {
                        disable("#btnSubmitQCPass");
                        var data = JSON.stringify({ qcPassId: TryParseInt(hdfQCPassId.val(), 0), status: "Received By Production" });

                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveQCPassItemReceive', data, getToken())).then(function (res, status)
                        {
                            if (res === true && status === "success") {
                                $('.toastrDefaultSuccess').trigger('click');
                                $("#modalQCPass").modal("toggle");
                                LoadDataTable2();
                                LoadDataTable();
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                            enable("#btnSubmitQCPass");
                        }).fail(function (error) {
                            console.log(error);
                            $('.toastrDefaultError').trigger('click');
                            enable("#btnSubmitQCPass");
                        })
                    }
                })
            }
        })
    </script>
}

