@model IEnumerable<ERPBO.Inventory.ViewModels.WarehouseStockDetailInfoListViewModel>
@{
    int sl = 0;
    string badge = string.Empty;
}

<table class="table table-bordered table-sm table-striped" id="tblWarehouseDetailList">
    <thead class="btn-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>Warehouse</th>
            <th>ItemType Name</th>
            <th>Item Name</th>
            <th>Type Of Unit</th>
            <th>Quantity</th>
            <th>Stock Status</th>
            <th>Entry Date</th>
            <th class="hide">Entry User</th>
            <th>Ref Number</th>
            <th>Entry User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            badge = item.StockStatus.ToLower() == "stock-in" ? "badge bg-success" : (item.StockStatus.ToLower() == "stock-out" ? "badge bg-primary" : "badge bg-danger");
            <tr>
                <td class="text-center"><b>@sl</b></td>
                <td>@item.WarehouseName</td>
                <td>@item.ItemTypeName</td>
                <td>@item.ItemName</td>
                <td class="text-center">@item.UnitName</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-center" data-val="@item.StockStatus">
                    <span class="@badge">@item.StockStatus</span>
                </td>
                <td class="text-center">@item.EntryDate</td>
                <td class="hide"></td>
                <td>@item.RefferenceNumber</td>
                <td class="text-center">@item.EntryUser</td>
            </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr class="text-center text-bold">
                <td colspan="11">No data found in the table</td>
            </tr>
        }
    </tbody>
</table>