<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link href="~/Content/dist/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/dist/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <link href="~/Content/dist/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .qtySize {
            width: 70ex !important;
        }
        .aside-bg {
            background-image: url('../../Content/dist/img/aside-bg-new.jpg');
            background-size: cover;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-secondary">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-user-circle fa-stack-1x"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        @*<span class="dropdown-header">
                            <b class="">User Settings</b>
                        </span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-tools mr-2"></i> Change Username/Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i>Log Out
                        </a>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary card-outline" style="margin-bottom:0px">
                                    <div class="card-body box-profile">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                 src="~/Content/dist/img/userIcon.png"
                                                 alt="User profile picture">
                                        </div>
                                        <h3 class="profile-username text-center">@User.FullName</h3>
                                        <p class="text-muted text-center">@User.Designation</p>
                                        <ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                @*<b>Followers</b> <a class="float-right">1,322</a>*@
                                                <a href="#">
                                                    <i class="fas fa-tools mr-2"></i> Change Username/Password
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Status</b> <a class="float-right">Active</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-primary btn-block" id="logOut"><b>Log Out</b> <i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4 aside-bg">
            <!-- Brand Logo -->
            <a href="#" class="brand-link navbar-dark">
                <img src="~/Content/dist/img/fivestar.png" alt="FIVESTAR" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">FIVESTAR ERP</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <a href="/User/Index" class="btn btn-block btn-outline-primary" style="width:100%">
                        <i class="fas fa-fire">
                            Dashboard
                        </i>
                    </a>
                </div>
                <!-- Sidebar Menu -->
                @if (User.Identity.IsAuthenticated)
                {
                    { Html.RenderAction("GetUserMenus", "Common"); }
                }
                @*<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-shield"></i>
                    <p>
                        Control Panel
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetOrganizations" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Organization List</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetAppUserList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>User List</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetRoleList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Role List</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetModuleList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Module List</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetMainMenuList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>MainMenu</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetSubMenuList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Submenu</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetBranchList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Branch List</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/GetMainMenusForOrgAuth" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Organization Auth</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ControlPanel/SetUserCustomAuthorization" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>User Authorization</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-store"></i>
                    <p>
                        Warehouse
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Inventory/GetWarehouseList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Warehouse List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetDescriptionList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Description</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetItemTypeList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>ItemType List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetAllUnitList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Unit List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetItemList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Item Name</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetWarehouseStockInfoList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Warehouse Stock</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetReqInfoList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Product Requisition</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetItemReturnList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Production Return Item</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetRepairStockInfoList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Repair Stock</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Inventory/GetFinishGoodsSendToWarehouse" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Receive Finish Goods</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-gavel"></i>
                    <p>
                        Production
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Production/GetProductionLineList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Production Line</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Production/GetReqInfoList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Item Requsition</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Production/GetProductionStockInfoList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Production Stock</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Production/GetItemReturnList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Return Items</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Production/GetFinishGoodsList" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Finish Goods List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Production/GetFinishGoodsStockInfo" class="nav-link">
                            <i class="fas fa-circle fa-1x nav-icon"></i>
                            <p>Finish Goods Stock</p>
                        </a>
                    </li>

                </ul>
                </li>
                </ul>
                </nav>*@
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <!--style="background-color:#fff"-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*<div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Starter Page</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Starter Page</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>*@
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <br />
                    <div id="body-container">
                        @RenderBody()
                    </div>
                </div><!-- /.container-fluid -->
                <button type="button" class="hide toastrDefaultSuccess"></button>
                <button type="button" class="hide toastrDefaultError"></button>
                <button type="button" class="hide toastrReqSuccess"></button>
                <button type="button" class="hide toastrReqError"></button>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Developed &amp; Maintained By <a href="http://playon24.com.bd/" target="_blank">PlayOn24</a>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 -</strong> All rights reserved.
        </footer>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="@Url.Action("LogOut", "Access")">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script type="module" src="~/Scripts/popper.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--Overlay scroll bar-->
    <script src="~/Scripts/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Content/plugins/Toastr/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.locales.js"></script>
    @*<script src="~/Content/dist/js/demo.js"></script>*@
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/download.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
            $('.toastrDefaultSuccess').click(function () {
                toastr.success(execuStatus.successSave)
            });
            $('.toastrDefaultError').click(function () {
                toastr.error(execuStatus.fail)
            });
            $('.toastrReqSuccess').click(function () {
                toastr.success(execuStatus.reqStatusSave)
            });
            $('.toastrReqError').click(function () {
                toastr.error(execuStatus.reqStatusFail)
            });

            $('.toastrDefaultInfo').click(function () {
                toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastrDefaultError').click(function () {
                toastr.error(execuStatus.fail)
            });

            $('.toastrDefaultWarning').click(function () {
                toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastsDefaultDefault').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultTopLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'topLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomRight').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomRight',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultAutohide').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    autohide: true,
                    delay: 750,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultNotFixed').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    fixed: false,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultFull').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    icon: 'fas fa-envelope fa-lg',
                })
            });
            $('.toastsDefaultFullImage').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    image: '../../dist/img/user3-128x128.jpg',
                    imageAlt: 'User Picture',
                })
            });
            $('.toastsDefaultSuccess').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultInfo').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-info',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultWarning').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-warning',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultDanger').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultMaroon').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-maroon',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
        })

        //logOut
        $("#logOut").click(function (e) {
            e.preventDefault();
            $("#logoutModal").modal("show");
        })
    </script>
    @RenderSection("scripts", false)
    @*<script type="text/javascript">
            $(function () {
                //const Toast = Swal.mixin({
                //    toast: true,
                //    position: 'top-end',
                //    showConfirmButton: false,
                //    timer: 3000
                //});

                //$('.swalDefaultSuccess').click(function () {
                //    Toast.fire({
                //        type: 'success',
                //        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                //    })
                //});
                //$('.swalDefaultInfo').click(function () {
                //    Toast.fire({
                //        type: 'info',
                //        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                //    })
                //});
                //$('.swalDefaultError').click(function () {
                //    Toast.fire({
                //        type: 'error',
                //        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                //    })
                //});
                //$('.swalDefaultWarning').click(function () {
                //    Toast.fire({
                //        type: 'warning',
                //        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                //    })
                //});
                //$('.swalDefaultQuestion').click(function () {
                //    Toast.fire({
                //        type: 'question',
                //        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                //    })
                //});

                $('.toastrDefaultSuccess').click(function () {
                    toastr.success(execuStatus.successSave)
                });
                $('.toastrDefaultError').click(function () {
                    toastr.error(execuStatus.fail)
                });
                $('.toastrReqSuccess').click(function () {
                    toastr.success(execuStatus.reqStatusSave)
                });
                $('.toastrReqError').click(function () {
                    toastr.error(execuStatus.reqStatusFail)
                });

                $('.toastrDefaultInfo').click(function () {
                    toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
                });

                $('.toastrDefaultError').click(function () {
                    toastr.error(execuStatus.fail)
                });

                $('.toastrDefaultWarning').click(function () {
                    toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
                });

                $('.toastsDefaultDefault').click(function () {
                    $(document).Toasts('create', {
                        title: 'Toast Title',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultTopLeft').click(function () {
                    $(document).Toasts('create', {
                        title: 'Toast Title',
                        position: 'topLeft',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultBottomRight').click(function () {
                    $(document).Toasts('create', {
                        title: 'Toast Title',
                        position: 'bottomRight',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultBottomLeft').click(function () {
                    $(document).Toasts('create', {
                        title: 'Toast Title',
                        position: 'bottomLeft',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultAutohide').click(function () {
                    $(document).Toasts('create', {
                        title: 'Toast Title',
                        autohide: true,
                        delay: 750,
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultNotFixed').click(function () {
                    $(document).Toasts('create', {
                        title: 'Toast Title',
                        fixed: false,
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultFull').click(function () {
                    $(document).Toasts('create', {
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        icon: 'fas fa-envelope fa-lg',
                    })
                });
                $('.toastsDefaultFullImage').click(function () {
                    $(document).Toasts('create', {
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        image: '../../dist/img/user3-128x128.jpg',
                        imageAlt: 'User Picture',
                    })
                });
                $('.toastsDefaultSuccess').click(function () {
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultInfo').click(function () {
                    $(document).Toasts('create', {
                        class: 'bg-info',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultWarning').click(function () {
                    $(document).Toasts('create', {
                        class: 'bg-warning',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultDanger').click(function () {
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultMaroon').click(function () {
                    $(document).Toasts('create', {
                        class: 'bg-maroon',
                        title: 'Toast Title',
                        subtitle: 'Subtitle',
                        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
            });
        </script>*@


</body>
</html>
